@model CRM.Models.ProfileDataModel

@{
    ViewBag.Title = "Newuser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Create a new User</title>
</head>
<body>
<div class="row">
    <br />
    <br />
    <table style="width: 50%"  align="left">
        <tr>
            <th>@Html.LabelFor(a => a.FName)</th>


            <td>@Html.TextBoxFor(a => a.FName)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(a => a.LName)</th>

            <td>@Html.TextBoxFor(a => a.LName)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(a => a.PhoneNo)</th>

            <td>@Html.TextBoxFor(a => a.PhoneNo)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(a => a.Email)</th>

            <td>@Html.TextBoxFor(a => a.Email)</td>
        </tr>


    </table>
</div>
<div>
    <br />
    <button id="btnsave">Save</button>
    <script type="text/javascript">
        document.getElementById("btnsave").onclick = function () {
            //logic to save in DB
            location.href = "../Index";
        };
    </script>

    <button id="myButton">Home</button>

    <script type="text/javascript">
        document.getElementById("myButton").onclick = function () {

            location.href = "../Home/Index";
        };
    </script>

</div>

</body>
</html>